main {
    color: brown;
    background-color: silver;
}

h2 {
    text-align: center;
    color: chocolate;
}

.grid-container {
    align-items: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "img1 article1 article1 article1"
        "article2 article2 article2 img2";

}

.img1 {
    grid-area: img1;
}

.article1 {
    grid-area: article1;
}

.img2 {
    grid-area: img2;
    justify-self: right;
}

.article2 {
    grid-area: article2;
}

.img1 {
    width: 100%;
    height: auto;
}

.article1 {
    text-align: justify;
    width: 90%;
    height: auto;
    padding-left: 5%;
    font-size: 1.5rem;
}

.article2 {
    text-align: justify;
    width: 90%;
    height: auto;
    padding-right: 5%;
    font-size: 1.5rem;
}

.img2 {
    width: 100%;
    height: auto;
}

.video-container {
    display: flex;
    justify-content: center;
}

.footer-container {
    padding: 10;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: brown;
    color: silver;
    font-size: 1rem;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav li {
    display: inline-block;
}

nav li:hover,
nav li:focus {
    background-color: silver;
}



a:link {
    color: goldenrod
}

a:hover {
    color: chocolate;
}

a:visited {
    color: steelblue;
}

.nav-item {
    background-color: brown;
    border: 1px solid black;
    padding: .5em 1em;
    font-size: 2rem;

}

.nav-container {
    background-color: steelblue;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}

.logo-container {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    justify-self: center;
    background-image: url(images/fight.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: brown;
}